<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
   <style>
    .para{
        color: white;
        font-size: large;
    }
    .list{
        color:red;
        border: 2px , solid, yellow;
        border-radius: 12px ;
  
    } 
   </style>
</head>
<body style="background-color: blue;">
    <h1 style="color: white;"
    
    
    >Hi ! I am  <%=user['name'] %></h1>
    <h1 style="color: white;">I am  <%=user['age'] %> year old</h1>
<p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Error cumque harum ea quidem dolore, repudiandae non <br> Consequuntur corrupti iure itaque odio autem repellat ducimus.<br> Ullam et assumenda repellendus quibusdam?</p>


<ul  class="list">
    <li>
        hi
    </li>
</ul>
<ol>
    <li>
        acha yar
    </li>
</ol>
    <img src="my.jpg" alt ="My profile" class="imge">
</body>
</html>